---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

import { headerData } from '~/navigation';
import { getPermalink } from '~/utils/permalinks';

const profileImg = '~/assets/images/Me.jpg';

const metadata = {
  title: 'SaaS Landing Page',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Lets talk',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Engineer | Creative | Maker"
    actions={[
      { variant: 'primary', text: 'Lets talk', href: getPermalink('/contact#form') },
      { text: 'Work', href: '#features' },
    ]}
    image={{
      src: profileImg,
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Zsolt Nemeth<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Elevate your website creation process with <span class="font-semibold">AstroWind</span>'s SaaS solutions.</span
      >
      Seamlessly blend the power of Astro 4.0 and Tailwind CSS to craft websites that resonate with your brand and audience.
    </Fragment>
  </Hero2>

</Layout>
